@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1607184429171'); /* IE9 */
  src: url('iconfont.eot?t=1607184429171#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKAAAsAAAAABigAAAI2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0UQE2AiQDCAsGAAQgBYRtBzAbdwUR1Ystsj8cb8DwVP6ZKchkYRq6DXUQ7Nx3jbFcNFRE9bc8Ryyi7Pd1PPz/ft/2efe8P3dMk2qaNX0cmmiyhidCEk8QCiETItUbzaJYyPQED7MzD7iQIooreapkS9Ov+gBYnDOfrFERaiTnf1boCylsnOUkvHq3QEfnq5T4MhjyeS6nN4EO5K76z3u5jDForEmTBmAcUIB7YRRZCWWcwfLKg3SDXj0m0GPapjg8drlDlaJVgbh9I2iovaiUqlCFzszBFC+gVZtnWcDz8vvxB7ai0miLqOXU1a2D3e/iEtz952JOQIzAjrco2EQS52azJxShuKLndJpHSsF3P/eIrzqF+uui+j4wSXPBd+kTAjQgUcDhgUMhSkb5K8NDuNTmyBuWl167wK8+ZUMgeHlt0CsTfB7UkTA/9WZfYAhqcCB9beRu0lXPFht9ysvbevTgPw+O+HbUNv7HYqjG/+vvMtWiqBbJZDfR6rWNjmoHPTYcP95r1B1FZDfWPSIIQ16hMeA1iiEfyWS/ojXhHzqGoqDHheDCXsuhJZVJCzk0P0x2Gn3iFVU1Xim8es1dbck/ideUwCovh4U9jcRXbFnfoRbx6HkacEeeo76fcOapJSt5FJmbovBzb8rtNICCTFrIoflhstPo8/GiRp+/Unj1mlf6erJP4jVNj1VeAuTeNEJ9v/LK+g61iEfP04A7Mo/6fsJ5fl5LVvJ4ID03RTzKo6b8ectguhMAKIjs2SaeVYgvbfQIAA==') format('woff2'),
  url('iconfont.woff?t=1607184429171') format('woff'),
  url('iconfont.ttf?t=1607184429171') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1607184429171#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huaban:before {
  content: "\e629";
}

